[2021-03-11 22:19] lukehinds opened #6 "Initial Flags"
* --file
* --fulcio (default to fulcio.dev)
* --email (needed for challenge, can also be populated in config)

[2021-03-16 12:15] dlorenc opened #8 "Pypi Signing"
https://github.com/pypa/warehouse/issues/3356#issuecomment-375303794

Looks like you can sign pypi artifacts and upload ".asc" files next to them. These are typically supposed to be PGP ascii signatures, but I don't think this is enforced.

[2021-03-27 14:48] lukehinds opened #16 "WASM Signing"
WASM signing.

It is possible to embed x509 signing into a custom WASM header.

[2021-03-27 14:55] dlorenc commented on #16
Yes!

[2021-03-27 14:56] dlorenc commented on #16
https://github.com/frehberg/wasm-sign#usage and https://github.com/jedisct1/wasmsign for reference!

[2021-03-27 15:21] dlorenc opened #17 "OPA bundle signing"
https://github.com/open-policy-agent/opa/issues/1757

[2021-04-03 13:59] dlorenc opened #27 "Hook up device flow to sigstore CLI."
We can do it easily with a flag, but we might also want to get smarter about defaulting. If there's no terminal or we don't have a browser to open, we could fallback to this.

[2021-04-03 13:59] dlorenc commented on #27
Ref #24

[2021-04-04 08:51] lukehinds opened #28 "Plan verify operation"
[WIP] still fleshing this out, but wanted to open this up for others to provide input.

Key focus should be the end UX. This needs to be as simple as we can possibly make it for end users. They should be able to just say 'verify' to consider something 'trusted' with zero setup and as few as possible manual steps. Having said that, those who want to dig deeper should be able to, but a majority of u

[2021-04-05 11:12] lukehinds opened #30 "Implement version flag"
In accordance with https://github.com/sigstore/community/issues/16, implement a version flag

[2021-04-06 10:21] endorama commented on #28
Is `project` expected to link to the source or to the packages? I see two possible situations, one where you have the project only once (by linking to the source) and one where you have it multiple times (source + packaged version).
From my understanding that would impact the `--init` phase (one vs multiple `init`)

[2021-04-06 11:14] lukehinds commented on #28
Its more of a namespace at the moment that packagers could reference, no interaction with the source.

[2021-04-06 13:23] endorama commented on #28
@lukehinds thanks.

As a user, I would love to be able to just run `sigstore verify <artefact>` and have the tool show all the performed operations (along the line of what `cosign` does with "The following checks were performed").

I have a couple of questions:
1. as a user, why should I trust this automated verification? I'm playing devils advocate here, but the reasoning is trying to dig a bit d

[2021-04-06 14:45] cpanato commented on #30
will work on that

[2021-04-06 15:07] lukehinds commented on #28
was just speaking with @dlorenc and there is some overlap with this issue: https://github.com/sigstore/cosign/issues/86

[2021-04-08 18:02] #30 closed

[2021-04-13 17:55] mnm678 commented on #28
As discussed in the meeting, the TUF targets metadata format is described [here](https://github.com/theupdateframework/specification/blob/master/tuf-spec.md#file-formats-targetsjson-and-delegated-target-roles--file-formats-targets). It actually includes a lot of the same fields as this proposal, with the addition of delegations. There's also some information later in that link about how the TUF ve

[2021-04-14 21:02] elinesterov commented on #28
How to verify the trust of the policy? Should it be signed by the owner (and follow threshold specification)? Do we plan to do it through the fulcio and have a record in recor?
Where the policy should be stored? As one of the artifacts as a part of the release like source code?

[2021-04-14 21:12] lukehinds commented on #28
project owner signs it, this fixes it to an OpenID scope, using a long term keypair could be possible as well

Yes, owner would sign. A threshold could be a possibly for the policy as well, we could factor that into the schema.

Yes

In rekor / ctl and then specific to the packaging system (this I need to plan out and I am open to suggestions).

[2021-04-16 00:21] dlorenc opened #42 "Blob Signer"
**Description**

Sign (detached) blobs on gcs/s3/cloud storage.

[code]

[code]

[2021-04-25 01:31] dlorenc opened #46 "e2e tests"
e2e tests are not ideal right now, we only have them in the fulcio and cosign repos.

We should add them here too where we can. We should figure out some kind of ok-to-test strategy so we can run tests with secrets before PRs go in

[2021-04-25 02:24] RichiCoder1 commented on #46
I did a sort of PoC of E2E in my PR: https://github.com/RichiCoder1/sigstore/pull/1

Can see end effect here: https://github.com/RichiCoder1/sigstore/runs/2429596238?check_suite_focus=true

If you wanted to lock down sensitive secrets, you could maybe use environmental secrets and approvals: https://docs.github.com/en/actions/reference/environments
Essentially make an e2e environment

Downside is

[2021-04-27 01:05] dlorenc opened #48 "Hashivault KMS provider public key vs. verify"
There's an issue with the hashivault provider that I haven't quite been able to pin down yet. I noticed it while testing https://github.com/sigstore/cosign/pull/278, so the bug may not actually be here.

The existing PR works when you sign/verify with the provider API itself, but does not work when you verify against the exported public key. That is:

`cosign sign -key hashivault://foo` followed b

[2021-04-27 01:05] dlorenc commented on #48
cc @RichiCoder1

[2021-04-27 01:14] RichiCoder1 commented on #48
Hmm. Looking into the implementation of `cosign public-key`, it looks like it calls https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/public_key.go#L101 which in turns calls https://github.com/sigstore/cosign/blob/8d77b5f1149a209bb34f5509dd1a1299c9439f2d/cmd/cosign/cli/keys.go#L40 and appears to still have a hard coded reference to gcpkms.

[2021-04-27 01:20] dlorenc commented on #48
Ah, actually I got that one as part of the PR :)
https://github.com/sigstore/cosign/pull/278/files#diff-cebf999069fbd27117b60741df471df8bd8ebbbebcc80d085c21959bc813a1d4

[2021-04-27 01:24] RichiCoder1 commented on #48
My bad! Let me keep digging, maybe I'm not outputting the key correctly.

[2021-04-27 01:28] dlorenc commented on #48
The key looked right, my guess is that it has to do with the hmac... The data being signed must be hashed slightly different.

[2021-04-27 03:04] RichiCoder1 commented on #48
I think you were right about HMAC: Did a PR which swaps `vault` hmac for local sha and swaps e2e test to use the same verifier as `cosign verify` and it seems to be happy now: https://github.com/sigstore/sigstore/pull/49

[2021-04-27 11:59] dlorenc opened #50 "Race condition in flow_test"
Unrelated: It looks like pkg/oauthflow/flow_test.go is experiencing a race condition

From: https://github.com/sigstore/sigstore/pull/49

[2021-04-27 15:24] dlorenc commented on #48
Thanks!

[2021-04-27 15:24] #48 closed

[2021-05-07 16:58] lukehinds opened #53 "Switch from api.rekor.dev to api.sigstore.dev."

[2021-05-10 08:43] letmaik opened #54 "Build fails (swag)"
[code]

[2021-05-11 19:22] bobcallaway opened #55 "if there is an error opening the browser, simply note it and wait for the callback to hit"
From sigstore/fulcio#92

https://github.com/sigstore/sigstore/blob/b560753072a47961909b9231e230242dbe933640/pkg/oauthflow/interactive.go#L58

[2021-05-12 11:41] #54 closed

[2021-05-12 11:42] #55 closed

[2021-05-13 12:06] letmaik opened #59 "Clarify what is sent to rekor"
Is it always a metadata document that is constructed by the sigstore client as seen on https://sigstore.dev/what_is_sigstore/? The current code seems to send the whole input file to rekor if I'm not mistaken (just by looking at `cmd/sign.go`).

[2021-05-13 12:11] bobcallaway commented on #59
The entire file is sent to rekor so that the signature can be verified as a prerequisite of making a new entry into the tlog. The contents of file is not entered into the tlog - only the signature, digest, and public key.

[2021-05-25 11:12] lukehinds commented on #50
Hey, took a look at #49 , but I can't see any details on the race condition @RichiCoder1 do you have any guidance on how to recreate this?

[2021-05-25 11:19] lukehinds opened #66 "Release 1.0 planning"
- [x] implement improved e2e testing #46
- [x] Allow the OOB authentication flow when we can't open a browser. #62
- [x] implement dog food signing / verification
- [ ] Update upstream projects who import / vendor from sigstore/sigstore

[2021-05-25 11:27] cpanato commented on #66
@lukehinds I don't have permissions to create milestones, can you create that? or how we should proceed?

I'm checking if we can have some GH actions to add milestones for us, but looks like it will need some tokens to write in the repos. I was thinking to create a GitHub sigstore-bot user to help on the tasks

[2021-05-25 11:41] lukehinds commented on #66
Sure, lets go for it. Let's connect on slack and get this setup.

[2021-05-25 17:28] RichiCoder1 commented on #50
It was just happening randomnly when I was running the test suite repeatedly while work on an unrelated tests on a partially loaded machine.

[2021-05-27 13:46] cpanato commented on #66
@lukehinds @dlorenc @bobcallaway What is your plan date to release sigstore 0.1.0? I would like to create the milestone to track the issues/prs and the planned date for the release.

I will create a milestone for now with no dates, but lets define a date

[2021-05-27 14:51] lukehinds commented on #66
#28 is a little hard to timebox at present, as we are still working on the policy files with TUF. I would keep it open just for now.

[2021-05-27 17:38] letmaik commented on #59
I'm just looking at https://github.com/sigstore/rekor/pull/314. Is that also the case for in-toto attestations? I can't quite figure out all the data types but it looks like this stores the whole payload, right?

[2021-05-27 18:27] bobcallaway commented on #59
I haven't done a thorough review of that PR yet, so I can't comment definitively. @dlorenc ?

[2021-05-27 18:46] dlorenc commented on #59
Nope, it should just be the hash again, but I might have messed things up.

Note though, I am working on a slightly longer term method to store the entire attestations for ITE-6. See here: https://docs.google.com/document/d/12JKXypgnDNQ2NBJYR73zLktSXj2pfBJcQWl675n_VdE/edit

[2021-06-17 07:31] lukehinds opened #72 "add artifact hash"
It should be possible to also send the digest instead of the artifact itself.

[2021-07-06 08:19] lukehinds opened #77 "Integration tests"
integration tests to validate basic operations (sign at present)

[2021-07-06 08:20] #59 closed

[2021-07-06 11:39] cpanato commented on #72
@lukehinds I would like to check this issue, but I'm a bit lost about where this change should be made, can you point or give a clarification? thanks!

[2021-07-06 12:32] lukehinds commented on #72
sure, currently what we do is reference the file `--artifact`  and it hashes the blob and signs that hash, this instead would allow you to just pass the hash directly.

rekor-cli does something similar: https://github.com/sigstore/rekor/blob/dbbbff597bc250b276467892d3d05d6179dc5ace/cmd/rekor-cli/app/pflags.go#L54

While I think about it, handling urls might be useful as well (download and hash)

@

[2021-07-06 19:53] Dentrax opened #81 "consider moving core sign & verify functions from cosign to sigstore"
**TL;DR:** _I propose transferring the core crypto functions of cosign to project Sigstore._

**Motivation**

We aim to make sigstore more _commonize_ for cryptographic functions. Cosign calls the all the crypto-specific functions _(i.e., generating ECDSA, signing, validating, etc.)_ from the [keys.go](https://github.com/sigstore/cosign/blob/main/pkg/cosign/keys.go) file. If we get rid of those EC

[2021-07-06 19:55] bobcallaway commented on #81
great idea - now that #69 is merged, I will be pushing up a patch to cosign to take advantage of more of the code in `pkg/signature` instead of having duplicative function within cosign.

[2021-07-06 19:57] lukehinds commented on #81
What a well written issue, kudos. I can see Bob just popped up before I started to type. The plan all along has been to put commonly shared functionality into sigstore/sigstore. I think the cosigners have just not got around to this yet. Coincidently tektoncd/chains also inherits from sigstore/sigstore too.

[2021-07-06 20:46] Dentrax commented on #81
Thanks! Looks like this was a already planned task. So, we can analyze the _refactoring complexity_ before deep diving into this @developer-guy?

[2021-07-06 20:49] developer-guy commented on #81
Yeah we definitely would want to get involved in it, we can be volunteers to do that with @Dentrax 🙋🏻‍♂️🤩

[2021-07-09 07:11] lukehinds opened #89 "Remove operational client code, respin as just a client library."
We are starting to run into some pains from circular dependencies (rekor inherits from sigstore/sigstore and in turn sigstore/store inherits from rekors-cli). In light of the fact this code base is not gaining traction as a client, and is becoming more widely utilized as a client library, all code such as sign / verify should be removed and refactored as /examples.

We should also better document

[2021-07-09 07:13] lukehinds commented on #81
relates to: https://github.com/sigstore/sigstore/issues/89

[2021-07-10 22:08] dlorenc commented on #89
cc @dekkagaijin

[2021-07-13 22:17] dekkagaijin commented on #89
Fixed in https://github.com/sigstore/sigstore/pull/90 and https://github.com/sigstore/sigstore/pull/91

[2021-07-14 16:39] dekkagaijin commented on #81
If we want `sigstore/sigstore` to offer those kind of high-level libs (e.g. verifying both signatures and tlog entries), we'd probably want to move some of the more fundamental libs from s/s to their own repo in order to avoid circular dependencies.

I'd argue that container and `cosign`-implementation-specific logic should stay in `sigstore/cosign`, but we could easily generalize its signing and

[2021-07-20 21:12] #89 closed

[2021-07-20 22:56] dlorenc opened #97 "Proposal: Add Jake Sanders to the maintainers list!"
**Description**
He's the #2 contributor to this repository, and has implemented a large amount of refactoring and feature work. We should add him as a maintainer!

The CODEOWNERS file here just maps to a team though, so let's track the decision here and then manually add on GitHub.

[2021-07-21 05:03] lukehinds commented on #97
+1 , Jake has done some solid work.

[2021-07-21 05:06] lukehinds opened #98 "Document Library"
We should provide some nice developer docs and examples on how to integrate with s/s

[2021-07-21 07:37] cpanato commented on #97
+1

[2021-07-21 10:57] bobcallaway commented on #97
+1, congrats @dekkagaijin

added to sigstore/sigstore-codeowners

[2021-07-21 10:57] #97 closed

[2021-07-21 16:46] dekkagaijin commented on #97
Thanks, all :)

[2021-07-29 21:41] bobcallaway commented on #72
@lukehinds given that we've removed the CLI from s/s, is this issue moot?

[2021-07-30 07:41] lukehinds commented on #72
It is yes!

[2021-07-30 07:41] #72 closed

[2021-08-17 15:51] mrjoelkamp opened #108 "Unable to add multiple signature layers using Vault KMS"
**Description**

It looks like there is a bug in the read, modify, write process when using Vault as the KMS.
`cosign sign -key hashivault://key repo_path/image:tag`

I've ensured that registry immutability is turned off and have used both AWS ECR and Docker Hub registries for troubleshooting.

Here is a summary of what I have tested:
- Cosign signature manifest is successfully created using Vault

[2021-08-17 16:13] mrjoelkamp commented on #108
Moving to cosign repo

[2021-08-17 16:13] #108 closed

[2021-08-18 11:55] lukehinds commented on #81
how are we with this now..is anyone active on the issue?

[2021-08-18 11:56] lukehinds commented on #27
ok to close this dan (as its just a library now)?

[2021-08-18 11:57] #28 closed

[2021-08-18 11:57] #16 closed

[2021-08-18 11:57] #8 closed

[2021-08-18 11:58] lukehinds commented on #42
figure this can be closed, but checking to be sure @dlorenc ?

[2021-08-18 11:58] #17 closed

[2021-08-18 11:59] lukehinds commented on #50
going to close now, please do reopen if witnessed again

[2021-08-18 11:59] #50 closed

[2021-09-29 10:18] lukehinds opened #112 "AWS tests fail intermittently"
Noticed a few intermittent failures with the AWS tests

https://github.com/sigstore/sigstore/pull/111/checks?check_run_id=3741853919

[code]

[2021-09-29 11:04] lukehinds commented on #81
@Dentrax / @developer-guy do you plan to work on this?

[2021-09-29 12:57] Dentrax commented on #81
Oh, sorry, we missed your last comment. 😇  If proposal accepted, and makes sense, then we can start to work on this with pleasure.

[2021-09-29 13:08] lukehinds commented on #81
I will assign to you and thanks!

It would make sense to tag this work for 1.0 as well.

[2021-09-30 22:07] bobcallaway opened #113 ""redirect_uri did not match URI from initial request" error during OOB OAuth flow"
**Description**

[code]

After investigating, I think it is because https://github.com/sigstore/sigstore/blob/866281ba95e1e099ac5a1f19a0fe59dac4e3d35a/pkg/oauthflow/interactive.go#L113 changes `cfg.RedirectURL` on a copy of `cfg` rather than the value passed, such that when the code is used after `doOobFlow()` returns, the configs do not match resulting in the error message seen above.

[2021-09-30 22:39] bobcallaway commented on #112
blocks #114

[2021-10-01 05:24] lukehinds commented on #112
cc @codysoyland

[2021-10-01 12:50] bobcallaway commented on #112
FYI I backed off the version of local stack to 0.12.15 and things pass fine.... so perhaps this is a bug there?

[2021-10-01 12:50] #113 closed

[2021-10-01 13:57] codysoyland commented on #112
Just reproduced the same error locally with localstack:latest. Confirmed that 0.12.15 works as @bobcallaway discovered (and never hit this bug during development). I guess we need to pin it.

[2021-10-02 04:41] #112 closed

[2021-10-05 11:50] #77 closed

[2021-10-05 12:36] lukehinds commented on #81
@Dentrax / @developer-guy , we are planning on getting 1.0 out the door soon. I don't believe you need any changes in here, its all cosign side? Can you tag this issue when you make a PR to cosign?

[2021-10-05 13:22] Dentrax commented on #81
Yes we can tag this issue. But I think we need to move [keys.go](https://github.com/sigstore/cosign/blob/main/pkg/cosign/keys.go) from cosign to here (some funcs and interfaces), which means we may need to impl the core functions and make changes here. 🤔

[2021-10-07 03:42] bmwiedemann opened #121 "https://www.sigstore.dev/ returns 404"
[code]

Interestingly, the page content looks right, but the 404 return code (instead of the normal `200 OK` ) throws off my `linkchecker -r 1 --check-extern https://reproducible-builds.org/reports/2021-09/`

This bug was found while working on [reproducible builds for openSUSE](https://en.opensuse.org/openSUSE:Reproducible_Builds).

[2021-10-11 11:43] cpanato commented on #27
@dlorenc will close this issue, feel free to open a new one or reopen this

[2021-10-11 12:09] cpanato commented on #66
release is out https://github.com/sigstore/sigstore/releases/tag/v1.0.0

[2021-10-11 12:09] #66 closed

[2021-10-14 16:55] ropnop opened #122 "Use ed25519 for KMS's that support it? E.g. Vault"
**Description**

I know work was done to move from ed25519 to ecdsa in cosign [here](https://github.com/sigstore/cosign/pull/52), but for KMS's that support ed25519 I wonder if we can have an option to support it?

My use case is we use Hashicorp Vault with ed25519 keys to produce signatures for artifacts that are compatible with minisign, I'd like to be able to use cosign with the same keys that

[2021-10-14 17:48] lukehinds commented on #122
Hi @ropnop ,

I think you're change is needed in cosign right? sigstore/sigstore supports multiple key types including ed25519

There is an issue to refactor cosigns keys handling over to here: https://github.com/sigstore/sigstore/issues/81#issuecomment-934410476

Maybe this might make a good opportunity, that way cosign can be modular around key types / curves.

[2021-10-14 22:58] dekkagaijin commented on #122
We aren't planning on supporting ed25519 (or really anything other than ECDSA-P256-SHA256) in `cosign sign` unless absolutely necessary. You'd also have to add support in `rekor` and `fulcio`. Simplicity of adopting `cosign`, implementing its spec, and avoiding confusion/downgrade attacks was worth the tradeoff of reduced flexibility. (Pure) ed25519 is relatively difficult to support due to its re

[2021-11-02 14:03] #121 closed

[2021-11-08 17:31] encodedwitch commented on #122
Hey @lukehinds @dekkagaijin ! - Any updates regarding these questions ^ ? I'm also trying to understand better the whole relationship between Sigstore - Cosign - Fulcio - Minisig - Others to implement these in prod. I think @ropnop made the right questions to help me do it.

[2021-11-11 13:09] developer-guy opened #138 "Workload Identity Federation is not working with GCP KMS support"
**Description**

 Recently, we (w/@dentrax @erkanzileli) added other key management system support to Kyverno while verifying image signatures.[^1] Then, I tried this feature on GCP while using GCP KMS and GKE. To achieve this I took advantage of Workload Identity Federation[^2]. To enable this I've used the following commands:

🎗 Cross-ref: https://github.com/kyverno/website/pull/376

[code]

The

[2021-11-15 11:11] endorama commented on #138
I took a look, my initial hypothesis was that the GCP SDK library in use by `cosign` is not up to date and lacks that functionality.

I say `cosign` as is the packages used in the linked PR.

The `google/cloud-sdk:slim` image used SDK version 364.0.0 ([extracted from `Dockerfile`](https://hub.docker.com/layers/google/cloud-sdk/slim/images/sha256-dfa69efeb9f002e7cce49d47000245d22f811001e672d37b45d6

[2021-11-16 14:14] endorama commented on #138
Upon further investigation, `cosign` has a Google provider called `google-workload-identity` ([link](https://github.com/sigstore/cosign/blob/main/pkg/providers/google/google.go#L30))

So my new hypothesis is that Kyverno is not selecting this provider when using cosign. @developer-guy may you test this? (I don't have a setup to test it)

[2021-11-16 18:50] JimBugwadia commented on #138
Hi @endorama - thanks for the details! Can you please elaborate on `Kyverno is not selecting this provider when using cosign` - is there an example of how to select the provider that we can reference?

Currently, Kyverno is (indirectly - via Cosign [signatures.LoadPublicKey](https://github.com/sigstore/cosign/blob/7066f122b8288e5621cf7e3dca600075bb70cd47/pkg/signature/keys.go#L40)) calling [kms.Ge

[2021-11-17 07:01] developer-guy commented on #138
Hello @lukehinds, as I mentioned above, recently, we've added other key supports for verification by using cosign to Kyverno. As you already know, KMS is one of them, so, I wanted to test this by deploying Kyverno on GKE and using GCP KMS for storing keys. But, to access my keys on GCP KMS, Kyverno should use Workload Identity, I did everything to make it work, but it didn't work. So, I thought th

[2021-11-17 10:36] endorama commented on #138
I've not been able to find `disable_gcp` string in neither [`cosign`](https://github.com/sigstore/cosign/search?q=disable_gcp) nor [`sigstore`](https://github.com/sigstore/sigstore/search?q=disable_gcp&type=code) so I'm not sure what that tag is expected to do.

I looked into the `cosign` sources, while you are pointing to `sigstore` so I'm not sure what I said make sense. Indeed is most probably

[2021-11-20 09:26] developer-guy commented on #138
I found this but am not sure whether it refers to our problem but this [--k8s-keychain flag](https://github.com/sigstore/cosign/blob/90e2dcfe7b92223221a44b2fc16ade64de09f2c9/cmd/cosign/cli/options/registry.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L46-L47) seems to help us because I found the

[2021-11-20 22:58] JimBugwadia commented on #138
@endorama regarding:

As an example, the tag is used here: https://github.com/google/go-containerregistry/blob/main/pkg/authn/k8schain/k8schain_gcp.go#L2.

I am not sure if this has any implications on using workload identities to allow a pod to use the cloud provider KMS.

[2021-11-23 19:16] dlorenc opened #154 "Fix golangci-lint"
I think we need to bump something in the config. Lint errors have started popping up that weren't before. You can see this here: https://github.com/sigstore/sigstore/runs/4303559748?check_suite_focus=true

[2021-11-23 19:44] hectorj2f commented on #154
Perhaps we could stick to `uses: golangci/golangci-lint-action@v2.5.2` to be consistent with the other repos.

[2021-11-23 21:09] naveensrinivasan commented on #154
It was because of this PR https://github.com/sigstore/sigstore/pull/148

[2021-11-27 23:26] dlorenc commented on #138
I don't see any reason this shouldn't work. @developer-guy could you explain a bit more what error you hit when trying to use KMS with workload identity federation from here:

Was there an error?

[2021-11-30 00:14] #154 closed

[2021-12-01 15:19] naveensrinivasan opened #172 "Failed to verify signature in DSSE"
**Description**

Part of fuzz testing DSSE verify is failing for this data`"\xb3"`

[code]

[2021-12-05 02:55] naveensrinivasan opened #182 "Fuzz - Reduce the corpus input size for RSA and ed25519"
**Description**
The corpus size for `ed25519` and `rsa` is too large for the oss-fuzz. Need to reduce the size of the corpus
https://github.com/sigstore/sigstore/tree/main/test/fuzz/corpus/ed25519
https://github.com/sigstore/sigstore/tree/main/test/fuzz/corpus/rsa

https://github.com/google/oss-fuzz/pull/6964

[2021-12-05 02:55] naveensrinivasan commented on #182
I will work on this.

[2021-12-05 02:59] naveensrinivasan opened #183 "Include DSSE into oss-fuzz runs"
**Description**

Include the DSSE function https://github.com/sigstore/sigstore/blob/9572b9b68afc00a1129e9d697b0eec12c7aac431/pkg/signature/dsse/fuzz/fuzz.go#L35 into oss-fuzz https://github.com/google/oss-fuzz/blob/master/projects/sigstore/build.sh

The blocker is https://github.com/sigstore/sigstore/issues/172

[2021-12-05 03:00] naveensrinivasan commented on #172
@dlorenc FYI..

[2021-12-05 12:54] dlorenc commented on #172
Cc @bobcallaway I think you were trying to reproduce this right?

[2021-12-07 13:17] bobcallaway commented on #172
The root issue here is that with a `payloadType` of `\xbe` (note: not a valid UTF-8 string), different values are used before and after marshaling into the JSON envelope format (see [String values encode as JSON strings coerced to valid UTF-8, replacing invalid bytes with the Unicode replacement rune.](https://pkg.go.dev/encoding/json#Marshal).

The change in the `payloadType` value caused by gola

[2021-12-08 14:08] naveensrinivasan opened #188 "FuzzUnmarshalCertificatesFromPEM exceeds 60 seconds for the test case"
**Description**
oss-fuzz failure issue
[clusterfuzz-testcase-minimized-FuzzUnmarshalCertificatesFromPEM-4710187355734016.zip](https://github.com/sigstore/sigstore/files/7676542/clusterfuzz-testcase-minimized-FuzzUnmarshalCertificatesFromPEM-4710187355734016.zip)
[code]

[2021-12-08 19:59] bobcallaway opened #191 "Incorrect return value when verifying malformed DSSE envelope"
**Description**

https://github.com/sigstore/sigstore/blob/ddc44a415a367972a6c620fc6ab3277339715486/pkg/signature/dsse/dsse.go#L97 return value should not be `nil`

[2021-12-08 22:16] #191 closed

[2021-12-09 12:51] SecurityCRob opened #193 "Invitation from the OpenSSF's Great MFA Distribution project"
**Question**
Hello!  My name is CRob and I work with the Developer Best Practices Working Group of the
Linux Foundation's Open Source Security Foundation (OpenSSF)
<https://github.com/ossf/wg-best-practices-os-developers> "Great
Multi-Factor Authentication (MFA) Distribution Project"
<https://github.com/ossf/great-mfa-project>.

We'd like to give your project *free* MFA hardware tokens from
Google

[2021-12-11 21:06] naveensrinivasan commented on #188
This is an issue with `removeSpacesAndTab` from go standard library
![profile001](https://user-images.githubusercontent.com/172697/145691611-efa338c4-6914-4a99-a6e8-f1b86bade9e4.png)

[2021-12-12 15:47] naveensrinivasan commented on #188
Opened an issue https://github.com/golang/go/issues/50116. This is an issue with go standard library.

[2021-12-12 16:50] naveensrinivasan opened #198 "Fuzz - Timeout in FuzzUnmarshalPEMToPublicKey"
**Description**

The  FuzzUnmarshalPEMToPublicKey exceeds the time limit in `oss-fuzz`
[clusterfuzz-testcase-minimized-FuzzUnmarshalPEMToPublicKey-6640464978116608.log](https://github.com/sigstore/sigstore/files/7699139/clusterfuzz-testcase-minimized-FuzzUnmarshalPEMToPublicKey-6640464978116608.log)

[2021-12-13 09:57] developer-guy opened #199 "move tlog pkg functionalities to sigstore"
**Description**

There are a bunch of useful functions in cosign's [tlog.go](https://github.com/sigstore/cosign/blob/main/pkg/cosign/tlog.go) file, let's move these all the useful functions over here.

WDYT?

cc: @dentrax @lukehinds

[2021-12-13 10:08] lukehinds commented on #199
I am support of it, especially if we can increase the test coverage at the same time and add some integration tests. I am also happy to help out when I can.

Who should I assign as point person? Yourself @developer-guy ?

[2021-12-13 10:16] developer-guy commented on #199
that'd be great 🙋🏻‍♂️ yes, please 🙏

[2021-12-13 14:53] naveensrinivasan opened #200 "oss-fuzz: sigstore:FuzzLoadCertificates: Timeout in FuzzLoadCertificates"
**Description**

Project: sigstore
Fuzzing Engine: libFuzzer
Fuzz Target: FuzzLoadCertificates
Job Type: libfuzzer_asan_sigstore
Platform Id: linux

Crash Type: Timeout (exceeds 60 secs)
Crash Address:
Crash State:
  FuzzLoadCertificates

[clusterfuzz-testcase-minimized-FuzzLoadCertificates-5275406830272512.log](https://github.com/sigstore/sigstore/files/7704661/clusterfuzz-testcase-minimized-Fuzz

[2021-12-14 17:37] naveensrinivasan commented on #200
This is the same issue as https://github.com/golang/go/issues/50116

[2021-12-14 17:38] naveensrinivasan commented on #198
The root cause of this issue is in Go Standard library https://github.com/golang/go/issues/50116

[2021-12-16 19:12] naveensrinivasan opened #205 "Migrate to go native fuzzing in 1.18"
**Description**
The sisgstore is using `go-fuzz` for fuzzing. With go `1.18` fuzzing is native and is going to be integrated with oss-fuzz https://github.com/google/oss-fuzz/issues/7020.

The code should migrate to `1.18` for fuzzing.

[2021-12-22 12:51] Dentrax commented on #199
Just thinking, what about moving these function into rekor client instead of sigstore? @lukehinds

[2021-12-22 14:22] lukehinds commented on #199
@Dentrax better in here buddy. We moved the fulcio client code into here so it makes sense the rekor client code comes in. It also saves hitting circular dependencies.

[2021-12-24 22:50] naveensrinivasan opened #211 "Include code coverage for tests"
**Description**
Right now the tests don't have coverage metrics reported. It would help when including a new feature to identify the coverage.

[2021-12-27 13:35] #172 closed

[2022-01-06 15:45] DavidKorczynski commented on #205
@AdamKorcz  and I would be happy to contribute here as we are working on the oss-fuzz integration (https://github.com/google/oss-fuzz/pull/7055)

In the process of integrating native fuzzing into oss-fuzz we need to use some sample PoC projects as well - are you okay with us using sigstore for this by migrating the fuzzers?

[2022-01-06 15:53] naveensrinivasan commented on #205
I was also thinking about the same when I saw the issue being updated with the latest update. IMO we could keep the existing go 1.17 version but create a one for the go 1.18. This will help figuring out bugs that are present and when go 1.18 releases.

Thanks, that would be great idea.

[2022-01-06 15:55] AdamKorcz commented on #205
@naveensrinivasan Good idea! We will start adding a few fuzzers for 1.18 over the next week.

[2022-01-11 21:36] simongottschlag opened #223 "Adding more authentication options to Azure KMS"
**Description**

Hi!

Great job you have been doing here! 😊

When looking at cosign I noticed that the Azure KMS integration only supports a service principal through the environment - but there are lots of other methods available from the Azure SDK.

Is there a specific reason to only support one of them or would you be open to a PR that adds support for MSI (Managed Service Identity) and Azure C

[2022-01-12 11:41] cpanato commented on #223
@simongottschlag thanks! yes, that sounds very interesting, you can work to add the other options to authenticate, I will be happy to review and test it

[2022-01-14 13:20] simongottschlag commented on #223
@cpanato I've created a PR. :+1:

[2022-01-16 02:24] #223 closed

[2022-02-03 14:02] developer-guy commented on #138
seems everything fine but I couldn't make it work 🤦🏻‍♂️

[2022-02-03 17:50] JimBugwadia commented on #138
Hi @developer-guy - was your latest test with Kyverno 1.6 RC?

Here are some recent / related changes and discussions in this area:

https://github.com/kyverno/kyverno/issues/3019
https://github.com/kyverno/kyverno/pull/3036

If needed, lets setup some time to troubleshoot and get this figured out.

[2022-02-03 18:13] ribbybibby commented on #138
In 1.6, the cloud provider keychains are only setup when the 'kubernetes keychain' is initialized and that only happens if there are image pull secrets specified by the flag `-imagePullSecrets`.

I think this PR needs to land in a Kyverno release before workload identity will work off the bat: https://github.com/kyverno/kyverno/pull/3116.

@developer-guy a workaround you can use in the meantime is

[2022-02-04 10:09] ribbybibby commented on #138
This was cherry picked into 1.6 here: https://github.com/kyverno/kyverno/pull/3166.

Seems to be working for me in v1.6.0-rc3. Could you confirm if this has solved your issues @developer-guy?

[2022-02-04 10:11] developer-guy commented on #138
I'm asking for making it clear, do you want me to try the demo on more time with kyverno 1.6.0-rc3 ? Do I need to do anything than that ? Thank you

[2022-02-04 10:16] ribbybibby commented on #138
@developer-guy Yes, please :bow:

If it still doesn't work, then it would nice to have some more details:
- Any error messages from Kyverno's logs
- More information about the image you're trying to verify. For instance, is it in a private registry, is that Google Container Registry, Artifact Registry or a non-GCP registry?

[2022-02-04 12:41] developer-guy commented on #138
Hello @ribbybibby, here is the result of verifying my container image stored in public GCP registry against a key stored in GCP KMS:

<details>

<summary> Cosign Verify result </summary>

[code]
</details>

Here is the output of the kyverno pod and the version information:

<details>

<summary> Kyverno Log and version information </summary>

[code]
</details>

Here is the Clusterpolicy:

[code]

S

[2022-02-04 12:51] ribbybibby commented on #138
Okay, if it's a public image then the keychain is probably nothing to do with it.

KMS definitely works for me with workload identity, so I suspect it might be a configuration issue in your environment.

What service account are the kyverno pods using? I notice from your original post that you were attaching workload identity to a service account called 'kyverno-service-account' but I think helm u

[2022-02-04 14:39] developer-guy commented on #138
Yep, I noticed that to so, I've updated it as "kyverno", it didn't work also 🥲

[2022-02-04 17:16] ribbybibby commented on #138
Was the `cosign verify` command you posted above executed in a pod in the same cluster with the same service account as kyverno?

[2022-02-23 09:01] developer-guy commented on #138
kindly ping @ribbybibby 🙋🏻‍♂️ would you mind sharing your commands with me? Then I'll be able to execute them to test Kyveno v1.6.0 with workload identity feature to verify container images, WDYT? Because mine was not worked and don't know why 🤷🏻‍♂️

[2022-02-23 09:02] developer-guy commented on #138
Because I want to write a blog post about it also, see.
https://github.com/kyverno/website/pull/376

[2022-02-23 21:42] chaospuppy opened #288 "Add support for `aws-us-gov` partitions in KMS keys"
**Description**
Currently attempting to sign an artifact using `cosign sign --key awskms:///arn:aws-us-gov:kms:us-gov-west-1:111111111111:key/1234abcd-12ab-34cd-56ef-1234567890ab localhost:5000/test/ubi8:8.5 -d` will result in the following error:

[code]

Changes should be made [here](https://github.com/sigstore/sigstore/blob/3081f7b1b25f42a8ddb06f540547e3102b62d440/pkg/signature/kms/aws/client.g

[2022-02-24 16:05] asraa opened #290 "Add KeyID (public key fingerprint) to signature in in-toto attestation"
**Description**

The DSSE wrapped signer does not populate the `KeyID` field of the DSSE payload
https://github.com/sigstore/sigstore/blob/587d504f4dc16b2bc55eb7100658149de417eb30/pkg/signature/dsse/dsse.go#L65

As a result, running cosign attest or using the dsse.WrappedSigner leaves the keyid empty. This was produces by a cosign attest:

[code]

This would be nice to have to identify which key w

[2022-02-24 16:07] asraa commented on #290
I don't know if tekton chains wants to/can use sigstore/sigstore's wrapped signer, but right now it doesn't and it doesn't have parity on this issue. @priyawadhwa

[2022-02-24 17:17] priyawadhwa commented on #290
I think once KeyID is added in we could switch over to sigstore's signer! Support for it with a different signer was added by a contributor a while ago (code is here for [reference](https://github.com/tektoncd/chains/blob/965f34902ff565df455a78cc2b1062c3292dc404/pkg/chains/signing/wrap.go#L45-L54))

[2022-02-25 22:07] dlorenc commented on #290
SGTM!

[2022-03-01 13:54] developer-guy commented on #138
kindly ping @ribbybibby 🙋🏻‍♂️

[2022-03-01 13:59] Dentrax commented on #199
Just noticed that this issue would require adding `github.com/sigstore/rekor` dependency in [go.mod](https://github.com/sigstore/sigstore/blob/main/go.mod), and eventually it will bring lots of _indirect_ dependencies in _sigstore_. Are we still really want to do this? What about implementing these functions into `rekor` instead of `sigstore`?

[code]

vs.

[code]

[tlog.go](https://github.com/sig

[2022-03-01 14:45] naveensrinivasan opened #305 "community : Contributor ladder"
**Description**

I am opening this to ask if there's a contributor ladder defined for sigstore.
How do I become an org member?

I  would be happy to help do PR's reviews here, hoping to work towards maintainership.

previous contributions - mainly fuzzing sigstore and integrating with oss-fuzz

## PR's in sigstore
1. https://github.com/sigstore/sigstore/pull/214
1. https://github.com/sigstore/sigs

[2022-03-01 18:11] ribbybibby commented on #138
There's quite a few moving parts in the setup, but here's more or less the terraform I'm using for the KMS key and the service account:
[code]

Comparing this to your original scripts, I can see that you're using the `roles/cloudkms.admin` whereas I'm using `roles/cloudkms.viewer` and `roles/cloudkms.verifier`. From https://cloud.google.com/kms/docs/reference/permissions-and-roles:

[2022-03-02 12:06] lukehinds commented on #305
We don't have anything defined as each project has autonomy to manage its own maintainers (codeowners).

As a general guide, I myself view a maintainer as someone who regularly helps review code, finds and resolves bugs and adds features. A good candidate is someone who has a consistent presence in the project.

I hope that helps and sorry for not being more specific. Currently a lot of your contr

[2022-03-02 13:28] naveensrinivasan commented on #305
Good to know. Thanks,I would like and being interested in becoming a maintainer now.

[2022-03-02 13:42] dlorenc commented on #305
I kind of miss having something like peribolos to manage permissions across an org, but don't really want to have to setup prow just for that. @cpanato do you know of any way to do that easier?

[2022-03-02 13:46] cpanato commented on #305
I did this: https://github.com/cpanato/pulumi-github-sync and implemented it at mattermost, it is working just fine and easy to deploy and get those up and running

[2022-03-02 13:50] cpanato commented on #305
yes! can we create a new repo that I can push the code and set up? can we don't need to connect to the pulumi UI, we can use GCP Storage as the state storage

[2022-03-02 13:51] dlorenc commented on #305
Thanks!

I realize this doesn't solve the actual contributor ladder problem, but it at least makes it so the mechanics of joining as a contributor are clearly defined and transparent. We can figure out the hard part next :)

[2022-03-02 14:08] naveensrinivasan commented on #305
Pulumi is cool. But the stack would be in a personal Pulumi account and cannot be shared amongst members unless a paid account.

How is this going to be handled?

[2022-03-02 14:25] cpanato commented on #305
we will not use the pulumi account, we will store the state in the gcp storage, we will miss some nice features, but that will work fine for us

[2022-03-02 16:01] justaugustus opened #308 "GitHub org team/member management"
From https://github.com/sigstore/sigstore/issues/305:

@lukehinds:

@dlorenc:

cc: @cpanato @naveensrinivasan

[2022-03-02 16:10] cpanato commented on #308
I will move this to the community repository :)

[2022-03-02 16:20] cpanato commented on #305
i was speaking with Dan to re-use some docs/process from he k8s :D

[2022-03-02 16:22] justaugustus commented on #305
Feel free to tag me for reviews, as this is something I'm planning to do for scorecard and friends and hopefully something lightweight/generic enough to use for all of OpenSSF.

[2022-03-02 16:23] justaugustus commented on #305
w.r.t. contributing guides, I'm in the midst of rewriting the one for Kubernetes SIG Release, which I think is coming along pretty nicely: https://github.com/kubernetes/sig-release/pull/1862

[2022-03-02 16:43] justaugustus commented on #305
In terms of actually operationalizing this request, what I'd likely do is approve, add @naveensrinivasan to the org, create a team for triagers/reviewers, and give that team `triage` permissions on the requisite repos.

[`triage`](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization#permissions-for-each-role) is a nice mid

[2022-03-03 02:46] dlorenc commented on #305
+1, approve!

[2022-03-03 09:19] lukehinds commented on #305
I like this as well. That way contributors can first go to triage and we bring on new codeowners when there is a real need (lack of reviewers who can merge). This way we can have people recognised and have some ability to help out with housekeeping, but we don't end up with large codeowner grants.

[2022-03-06 16:08] naveensrinivasan commented on #305
Friendly ping!

[2022-03-06 23:06] dlorenc commented on #305
Invite sent!

[2022-03-06 23:06] dlorenc commented on #305
Reopening to track the rest of the ladder process :)

[2022-03-07 07:57] lukehinds commented on #305
Does this mean @naveensrinivasan (or whoever we add) has triage over all projects in the org, or just sigstore/sigstore?

[2022-03-07 12:50] dlorenc commented on #305
Just sigstore/sigstore

[2022-03-07 14:09] cpanato commented on #305
I'm going to work on the docs this week

[2022-03-24 17:41] lukehinds commented on #305
closing as now tracked in https://github.com/sigstore/community/pull/54

[2022-04-12 01:07] dims opened #384 "Using sigstore in CNCF projects"
Folks,

There are a bunch of MPL libraries here:
https://github.com/sigstore/sigstore/blob/main/go.mod#L58-L75

CNCF only allows a handful of MPL'ed libraries from hashicorp:
https://github.com/cncf/foundation/blob/main/license-exceptions/cncf-exceptions-2019-11-01.json#L23-L46

the CNCF policy is written down here:
https://github.com/cncf/foundation/tree/main/license-exceptions

Question is ... w

[2022-04-12 01:09] bobcallaway commented on #384
@cpanato FYI

[2022-04-12 01:12] dims commented on #384
sounds good @dlorenc

[2022-04-12 01:22] dlorenc commented on #384
We should confirm go.mod actually works that way though since I might just be making that up...

[2022-04-12 01:30] mattmoor commented on #384
FYI the tooling in `google/licenseclassifier` and `google/go-licenses` can be used to flag forbidden licenses presubmit.

You'd have to customize the forbidden license list it uses to include MPL, but I believe it'll do the trick, if that's interesting to folks.

[2022-04-12 08:37] cpanato commented on #384
using `go mod why`
here is a list

- `github.com/hashicorp/errwrap`
[code]

- `github.com/hashicorp/go-cleanhttp`
[code]

- `github.com/hashicorp/go-hclog`
[code]

- `github.com/hashicorp/go-immutable-radix`
[code]

- `github.com/hashicorp/go-multierror`
[code]

- `github.com/hashicorp/go-plugin`
[code]

- `github.com/hashicorp/go-retryablehttp`
[code]

- `github.com/hashicorp/go-rootcerts`
[code]

[2022-04-12 15:18] dims commented on #384
@eddiezane indirect we can live with. here it did not seem indirect. (you can test by running `go mod vendor` and inspect what gets dropped in the directories rather then guessing from go.sum)

[2022-04-12 16:00] mattmoor commented on #384
From @cpanato's dump it looks like most of this is pulled in through the Vault KMS integration.  The various KMS integrations suck in a ton of dependencies, and this has been something I've had my eye on for some time to refactor, especially since it lives in such a core library.

I've had a picture forming in my head for a little while now, let me open an issue to track this and dump my thoughts

[2022-04-12 16:13] mattmoor opened #386 "Pluggable KMS integrations"
**Description**

_This is something I've been marinating on for some time, but was driven to open a tracking issue by https://github.com/sigstore/sigstore/issues/384_

**Problem:** baking in every KMS provider under the sun into sigstore/sigstore itself incurs a significant overhead on all downstream projects regardless of whether they even use this functionality.

I'll sketch out some ideas in a

[2022-04-12 16:35] mattmoor commented on #386
For the current integrations, what I was thinking is to adopt a pattern similar to [our cosign OIDC integrations](https://github.com/sigstore/cosign/blob/main/pkg/providers/interface.go) which:
1. Defines an interface that implementations should implement,
2. Provides a registration hook for implementations to register themselves,
3. Allows the binary consumers to link the implementations they wan

[2022-04-12 16:48] dlorenc commented on #386
I think @imjasonh already did the interface/registration thing: https://github.com/sigstore/sigstore/blob/main/pkg/signature/kms/gcp/client.go#L43

[2022-04-12 16:53] mattmoor commented on #386
Looks like they are still linked from fairly core places:
https://github.com/sigstore/cosign/blob/c8e152ae907747604a3f85290c4f397bbef16276/pkg/signature/keys.go#L39-L43

I'm going to start by moving these out to the binary entrypoint (further out than most folks still use as a library) to try and avoid the MPL problem in the linked issue.

[2022-04-12 17:00] nsmith5 commented on #386
@haydentherapper and I discussed something like this quite recently here: https://github.com/sigstore/fulcio/pull/496#discussion_r844185497

So yeah big +1 to moving all imports with side-effects out to the main entrypoint!

[2022-04-12 17:03] dlorenc commented on #386
Moving the imports up will be a big win. I'm not sure we can delete these ones from here without some kind of backwards compatibility story because of semver, but we could always just cut a version 2.

[2022-04-12 17:04] mattmoor commented on #384
It looks like @imjasonh read my mind and already did a great job refactoring some of the KMS libraries, but the places we link them are still far to central to `cosign` itself.  I've moved the imports into the binary entrypoints here: https://github.com/sigstore/cosign/pull/1744 which should hopefully enable downstream things that vendor cosign to be able to pick and choose which of these they wan

[2022-04-12 17:12] mattmoor commented on #386
Moving the side effect is already breaking to some folks downstream.  I was actually going to suggest we scramble to move these out before my PR lands in a release to avoid breaking folks twice, but making these modules in place here could be a nice middle ground.

This feels like a gray area of semver, since 1.x would have both in a single module and 1.x+1 would have both in different modules (bu

[2022-04-12 17:58] dlorenc commented on #386
I'm a habitual line stepper when it comes to semver. Let's give it a try!

[2022-04-19 21:49] hectorj2f opened #396 "oauth: include response_modes_supported as part of the providerClaims"
**Description**

I propose to add a new provideClaim `response_modes_supported` (as optional) in https://github.com/sigstore/sigstore/blob/main/pkg/oauth/oidc/pkce.go#L42. When present, we could use its value to set the `response_mode` as part of the auth URL here: https://github.com/sigstore/sigstore/blob/main/pkg/oauth/oidc/pkce.go#L84.

Perhaps we could even prefer using `response_mode=form_pos

[2022-04-22 06:50] allstar-app[bot] opened #403 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Block force push not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or maintaine

[2022-04-30 13:02] dlorenc commented on #403
Fixed.

[2022-04-30 13:02] #403 closed

[2022-05-01 15:08] dims commented on #384
@mattmoor when will this set of changes be in a tagged release? (or has that happened already?)

[2022-05-01 15:29] mattmoor commented on #384
Should be in 1.8

lmk if there is anything lingering

[2022-05-01 15:34] dims commented on #384
thanks @mattmoor

[2022-05-01 15:34] #384 closed

[2022-05-07 17:55] imjasonh opened #426 "Improve design of OAuth success HTML page"
**Description**

Currently, when you successfully get through an OAuth flow, you're met with this page:

<img width="506" alt="Screen Shot 2022-05-07 at 1 51 41 PM" src="https://user-images.githubusercontent.com/210737/167265980-2a90f726-50db-44db-a53f-98db93d3ff1f.png">

Good stuff:
- it's small and simple
- it's fast to load
- it's clear about what to do next

Bad stuff:
- it's black Times New R

[2022-05-08 02:59] AliAkberAakash commented on #426
Would like to work on this

[2022-05-11 20:03] imjasonh opened #436 "Concise description of the issue"
Followups from https://github.com/sigstore/sigstore/pull/435

- [ ] remove `panic` in `fulcioroots.Get()`
- [ ] add doc comments for un-doc-commented exported methods (or unexport them if appropriate)

/assign @haydentherapper

[2022-05-11 22:27] znewman01 commented on #436
Quoting from
From https://github.com/sigstore/cosign/issues/1865:

So I'm gonna add to your TODO list :)

[2022-05-12 14:56] znewman01 commented on #436
Also fine to stick one that *does* consult the env var in sigstore/sigstore as long as it's not the only option. I just don't want to force that on callers.

[2022-05-12 14:58] imjasonh commented on #436
If more callers want to adopt the env var version, we can move that into sigstore/sigstore too, as a separate opt-in process. For now I think you've convinced me that the env var behavior is only documented for cosign, and so should stay there unless/until someone else wants it.

After some of this lands I want to move more things into `internal` packages in cosign, to discourage/prevent their use

[2022-05-12 23:12] haydentherapper commented on #436
Are we concerned with breaking existing clients that may rely on this now? Hopefully folks are using TUF and not relying on the environment variables, but those were added for testing purposes. There's one for each of the TUF targets (CT log, Rekor, Fulcio), so we should probably add support for passing in the env var to a constructor (or maybe adding it to the context?) in a later PR.

[2022-05-13 01:41] znewman01 commented on #436
Hmm...I was gonna say "it's not documented anywhere" but [that's not true](https://docs.sigstore.dev/cosign/openid_signing/). I dunno, I guess I struggle to think of a situation that this would break...cosign will continue to work, and callers of cosign will probably continue to work too if we handle the env var in cosign itself. 🤷

[2022-05-13 03:56] haydentherapper commented on #436
Sorry, I didn’t mention context - the PR in Sigstore/Sigstore removed the environment variable. I just wanted to confirm we plan to continue supporting the variable by adding a constructor or something.

[2022-05-13 04:05] imjasonh commented on #436
I agree with Zack, callers of cosign methods will continue to get the same behavior with the env var, for better or worse. If they move to the s/s equivalent (as we recommend) they won't, but I doubt they've intended to get that behavior anyway. If they need it, they can stay on the cosign version until the s/s one gets an equivalent.

[2022-05-13 06:15] haydentherapper commented on #436
Sounds good, let’s add this as a TODO on this issue to track this.

[2022-05-25 20:22] mattmoor opened #467 "verification of `gcpkms://` requires overly broad permissions"
**Description**

I was looking at the permissions needed by the `ClusterImagePolicy -> ConfigMap` reconciler to deal with KMS, and it seems to require `cloudkms.cryptoKeys.get`, where I'd expect it to only need `cloudkms.cryptoKeyVersions.viewPublicKey`.

I can understand the *signing* path requiring more capabilities, but for things like the admission controller and `cosign verify` flows, it shou

[2022-05-25 20:46] imjasonh commented on #467
Looks like we do a bunch of validation that the key exists, and cache it with a TTL, and that's why we `Get` it instead of just using it.

https://github.com/sigstore/sigstore/blob/845467ef3d8df5ab991f5ecf3a5f4aac747a9f14/pkg/signature/kms/gcp/client.go#L177

[2022-05-27 11:19] mattmoor opened #472 "Error wraps nil error in ECDSA verification"
**Description**

In this code `err` is nil:
https://github.com/sigstore/sigstore/blob/cc76a0d60b9c8b7107136bc7f6f3053b57a924ce/pkg/signature/ecdsa.go#L184-L186

Which yields error such as:
[code]

[2022-06-01 17:24] haydentherapper opened #479 "Enforcement of a digest looking like a digest"
**Description**

There's an interesting forgery for ECDSA where it's possible to forge a valid signature over a random value for a fixed public key. To defend against this, it's necessary to first hash a message before signing or verifying it. For ED25519, this is handled via a pre-hash, while for ECDSA, it's standard practice to first hash the message.

However, for the hashedrekord type, it's a

[2022-06-02 13:03] znewman01 commented on #479
To clarify, you're referring to [this](https://www.metzdowd.com/pipermail/cryptography/2017-March/031755.html)?

[That validator](https://github.com/asaskevich/govalidator/blob/f21760c49a8d602d863493de796926d2a5c1138d/validator.go#L709) just checks that the string is a hex-encoding of the proper length, so it doesn't defend against this attack at all.

That said, I don't think this is actually a p

[2022-06-02 17:09] haydentherapper commented on #479
To add some context, I've been looking at entry malleability in Rekor. This isn't security critical for Rekor - Being able to forge an entry is detectable like you said, since you will be checking for the presence of an entry. Similarly, being able to modify a signature does not present a real risk (ECDSA signatures are malleable) because the artifact still must have been signed first.

The "threa

[2022-06-02 17:11] haydentherapper commented on #479
IIUC, the regex is an acceptable defense because it's unlikely that you can form random garbage to match that regex. It's still technically possible, however very unlikely, but given that it's not a security risk, I don't see a need to defend against it with more than just a regex.

[2022-06-02 18:05] znewman01 commented on #479
Ahh yeah, great point. This is possible. It's more "spam" than anything else, but it's "spam that might cause a page to some poor security engineer who has to panic figuring out whether this is a real issue."

I don't think this is true. You can form random garbage (in the signature domain), then hex-encode it and it *will* match the regex.

[2022-06-02 18:07] haydentherapper commented on #479
I don't know enough of the math side of this, but can you pick random garbage of a specific length? I thought it was probabilistically unlikely that you could find garbage of the right length. If not, then yea, we'll need to consider something else.

[2022-06-02 18:20] haydentherapper commented on #479
Hrm, alrighty, we'll need to consider something else then. I'd like to at least add some warnings around the usage of WithDigest in the meantime.

[2022-06-02 18:44] haydentherapper commented on #479
+1 to all of those drawbacks. To search, you'd need to search by both the artifact's hash and hash-hash.

[2022-06-02 18:59] znewman01 commented on #479
As I think about it more, the fundamental issue is that pre-hashing for ECDSA (as we do for HashedRekords) is not really a correct thing to do. So I think your warning for `WithDigest` is a good idea.

You *could* make the canonical strategy "sign the *hash* of the artifact, not the artifact" (which implicitly double-hashes). This would fix the Rekord/HashedRekord incompatibility. Call me weird bu

[2022-06-02 19:44] haydentherapper commented on #479
One option is another type, HashedHashedRekord (I'm not good at naming, Hashed^2Rekord), but we'd need to maintain HashedRekord indefinitely, or at least until we phase out a log shard that contains HashedRekord records. My only concern is how to clearly explain this to clients.

[2022-06-05 12:43] #479 closed

[2022-06-15 17:17] haydentherapper commented on #436
Bumping the root doesn't need to happen right now, it just saves one or two network calls to fetch an extra root.

[2022-07-01 16:08] vaikas opened #544 "Support multiple instances of sigstore."
**Description**

Some background here:
https://github.com/sigstore/scaffolding/issues/211

Currently, when testing with scaffolding, we create some env variables. It would be preferable to remove env variables and to utilize tuf roots as public sigstore instance uses. However, as part of that work, we should also ensure that things like policy-controller can be configured to validate images agains

[2022-07-13 20:15] asraa opened #562 "TUF: Sigstore TUF clients trust any delegation for sigstore custom usage"
**Description**

TUF delegations are delegated certain PATHS. in sigstore, we consume targets via custom metadata, not paths. therefore, if we have a delegation, that delegated key can sign off on any custom metadata, and that will be consumed by clients for rekor/fulcio usage.

 i.e. we currently cannot say the rekor delegation should only sign for targets tagged with **rekor** custom metadata. r

[2022-07-28 00:07] naveensrinivasan commented on #211
I am planning to work on this.

[2022-07-28 01:00] naveensrinivasan commented on #211
### Coverage tool

- Coverage threshold should be configurable for each repository - for example, `70%` within the repository.
- A setting file should be able to override the coverage threshold for a given package within the repository. `[github.com/foo/bar/xyz] : 61`
- The tool should use native `go` tools and not depend on external vendors.
- The tool should be configurable as part of the PR to

[2022-08-03 16:38] ianlewis opened #594 "Out of band flow not working"
**Description**

The auth process in `gitsign` outputs a URL you should be able to open in the browser to get a verification code, but the oauth2 server redirects to localhost after logging in. In this case localhost is not accessible so the auth flow cannot complete.
[code]

**Version**

gitsign v0.2.0

[2022-08-03 16:43] ianlewis commented on #594
In the case of out of band flow, I believe the redirect_uri should be `urn:ietf:wg:oauth:2.0:oob`

[2022-08-03 16:46] ianlewis commented on #594
If you change the `redirect_uri` yourself, the client then fails to verify the code.
[code]

[2022-08-03 18:16] dekkagaijin commented on #594
Howdy!

Currently, only the redirect-based browser flow is implemented. I suppose it's been on my backlog long enough now :p

[2022-08-03 23:28] ianlewis commented on #594
Thanks. It seems mostly there:
https://github.com/sigstore/sigstore/blob/963cd5da3885c30ff5ffad8049be1478b2a3eae3/pkg/oauthflow/interactive.go#L80-L91

If you manually change the `redirect_uri` in the URL you're given you do get a verification code from the server, but the client fails to verify it because the client checks the `redirect_uri` when it verifies the verification code.

I *think* it s

[2022-08-07 02:41] vaikas opened #600 "StaticTokenGetter not working without network connection."
**Description**
While working on a plane without wifi, noticed that the following was unexpectedly failing, since I was running scaffolding on a local cluster and using OIDC tokens off the kind cluster. For example, a sign command was failing because it couldn't talk to oauth2.sigstore.dev:

[code]

Where my identity-token fetch goes to local kind cluster to fetch an oidc token.

So, we unnecessar

[2022-08-10 00:57] dekkagaijin commented on #594
For documentation:

Google has decided to [deprecate the Out-Of-Band flow without replacement](https://developers.google.com/identity/protocols/oauth2/resources/oob-migration). The closest alternative is the [device flow (i.e. enter this code at this URL)](https://developers.google.com/identity/protocols/oauth2/limited-input-device), or simply copy-pasting the long-lived `refresh_token` over to th

[2022-08-10 01:25] ianlewis commented on #594
My personal use case is authentication on a remove development machine I access over ssh. I don't have access to a browser local to the server, though I suppose I could try to use a text based browser like lynx or something.

I could also do the normal browser-based flow with port-forwarding from the local machine to the server, but the app would need to give me the url that I can paste into my br

[2022-08-10 13:41] #600 closed

[2022-08-10 13:42] bobcallaway commented on #205
I believe this is done with #592 merging now.

[2022-08-10 13:42] #205 closed

[2022-08-14 21:35] rikatz opened #622 "Fix unfriendly error in verify"
**Description**

When doing the quickstart, I have mistakenly passed my private key instead of my public key and got a not so friendly error:
[code]

In privatekey there is already a verification of the type, so we can use the same approach in public key and get something more friendly like:

[code]

[2022-08-16 08:45] #622 closed

[2022-09-09 10:53] lukehinds commented on #594
can we close this for now @ianlewis or do you still need anything addressed?

[2022-09-09 11:00] lukehinds opened #678 "Project rename"
A few folks have raised the sigstore/sigstore project is not immediately obvious as to its role. I think just being called 'sigstore' does not help in this regard.

I would like to propose renaming to sigstore-go. It then follows the same convention as the others, sigstore-js, sigstore-python, sigstore-rs, sigstore-rubygems etc.

From what we know, GH will 301 https://github.com/sigstore/sigstore

[2022-09-09 11:20] dlorenc commented on #678
We've cut a 1.0 release, so we can't really just rename it without also bumping the major version to v2.

We could rename the repository but keep the old import path.

[2022-09-09 16:34] cpanato commented on #678
or we create a new repository and archive this one, and in the new, we can keep the same versioning

[2022-09-09 16:52] znewman01 commented on #678
[unsolicited opinion 😄] I would object to such a rename, and not just for logistical reasons.

I think there should be *two* Sigstore libraries in Go—one that's *used by* Fulcio/Rekor (the role that sigstore/sigstore plays now), and one that *uses* Fulcio/Rekor and exposes a higher-level API. The latter plays a role very similar to `sigstore-{rust,java,python,js,etc}` and should be called `sigstor

[2022-09-09 17:06] lukehinds commented on #678
@znewman01 , for what is a lot of work and something that would need a lot of co-ordination, what benefits would a substantial refactor / re-architect this bring to merit the disruption and work needed?  I would expect us to be facing pains somehow with the current situation, to merit this happening.

[2022-09-09 17:07] lukehinds commented on #678
would it be a fork so we retain commit history?

[2022-09-09 17:52] znewman01 commented on #678
I think we need such a library regardless. If you want to write an application with a Sigstore client in Go right now, you have two options:

1. Build it yourself using s/s, Fulcio, Rekor, and (possibly) `go-tuf`. This is basically recreating the proposed `sigstore-go` as a library inside of your application, and it's error-prone; I don't think we should be recommending this.
2. Use Cosign. The Co

[2022-09-09 18:28] bobcallaway commented on #678
strong +1 to @znewman01's comments. While I wouldn't name this repo `sigstore/sigstore` with hindsight, I think we could solve that with a better README, repo description, and a blog post or two (and potentially consider renaming down the road).

Creating a proper `sigstore-go` client (functionally equivalent to sigstore-{java,python,rs}) and driving a simpler cosign codebase is a more important g

[2022-09-09 20:03] imjasonh commented on #678
+1 to creating a greenfield sigstore-go client with the learnings of cosign,policy-controller,gitsign,sget,etc, and eventually intended to be used by those.

It might make sense to start hacking on that in a personal repo somewhere, until we're relatively happy with the shape of it, then we can have sigstore adopt it. Otherwise, if we create it in the sigstore GH org, we need to be very clear that

[2022-09-09 20:06] sabre1041 commented on #678
+1 to creating a consumable and reusable library that can not only be integrated into tooling within sigstore, but allow for integrations by 3rd party components.

@imjasonh and I discussed it briefly earlier this week

[2022-09-09 20:20] lukehinds commented on #678
Seems to be some consensus this is the way forwards and I have been saying for a while now that cosign needs to reduce its bloat, but I am still not seeing why they need for two separate libraries? Why not have a single sigstore-go and continue refactor out of cosign into here?

[2022-09-09 22:22] znewman01 commented on #678
I can't think of a way to do this without cycles:

[code]

If we don't have `sigstore-go` depend on Fulcio/Rekor we can't be a one-stop shop library for end users. You could "not depend on" Fulcio and Rekor and the same way that `sigstore-{python,rust,...}` don't depend on Fulcio and Rekor: by using their APIs. But this means we (1) don't get to use the proto interface from those repos, and (2) is

[2022-09-09 23:46] cpanato commented on #678
we can copy with the entire git history

[2022-09-10 11:17] lukehinds commented on #678
OK, I am convinced, as long as we have the sufficient numbers of hands on keyboards to do the work and we don't break anything for users .

I expect this could benefit from being shaken out in a doc first. Are you nominating yourself as point person @znewman01  :) ?

[2022-09-12 00:50] ianlewis commented on #594
I think there should to be some way to support authentication on a machine other than the one the browser is on (e.g. ssh to a dev server). Either by supporting the out-of-band flow, the device flow that @dekkagaijin mentioned, or explicitly support port forwarding as I mentioned. I don't really consider using a console browser as a valid workaround.

[2022-09-12 07:10] lukehinds commented on #594
We already support device flow though, is this lacking somehow https://github.com/sigstore/sigstore/blob/main/pkg/oauthflow/device_test.go ?

[2022-09-12 07:54] ianlewis commented on #594
Apologies, I wasn't aware of device flow or how to invoke it. Perhaps it's simply that `gitsign` isn't supporting the device flow. Can `gitsign` theoretically fall back to using a device flow if the browser can't be opened?

`gitsign` [seems to be using](
https://github.com/sigstore/gitsign/blob/cff750b010c303e3b485d0c2280d7a32a49360f1/internal/fulcio/identity.go#L85-L89) the `InteractiveIDTokenGe

[2022-09-12 08:16] lukehinds commented on #594
Not a problem. I can't confess to know the gitsign code very well, but it should in theory be capable of falling back to device flow. It makes sense to have such a feature as many folks code in remote envs.

I recommend kicking the conversation off over at sigstore/gitsign, in the meantime happy to keep this open so if we need to adjust things on this side, we can do.

[2022-09-12 08:48] ianlewis commented on #594
I'm not sure how that can happen currently without gitsign reimplementing the `InteractiveIDTokenGetter` itself as it falls back to to the out-of-band flow instead of returning an error.

I opened https://github.com/sigstore/gitsign/issues/137 to track the issue there.

[2022-09-12 15:16] haydentherapper opened #682 "Fuzzing build looks broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html#sigstore

@naveensrinivasan Do you know why the build might be broken? Seems like it was working on the 7th.

[2022-09-12 15:18] haydentherapper commented on #682
[code]

[2022-09-12 15:21] haydentherapper commented on #682
https://github.com/AdamKorcz/go-118-fuzz-build/commit/5a8cbd76e69a3fec53b692fa51ee230ae79a72f8

Hey @AdamKorcz, it seems like this commit might have broken something. I'm not very familiar with Go fuzzing, do you know if there's something we need to change in our fuzzing test, or is there a bug in the linked commit?

[2022-09-12 15:35] naveensrinivasan commented on #682
I can take on this. I will let @AdamKorcz let me know what needs to be done.

[2022-09-12 15:49] AdamKorcz commented on #682
I think you are right. Reverting that should solve the issue. I think I have it covered later today.

[2022-09-12 19:59] AdamKorcz commented on #682
Should be fixed with https://github.com/AdamKorcz/go-118-fuzz-build/commit/e1f97a00006b1720cec18bebee8ec0f2474e3426

[2022-09-12 20:30] haydentherapper commented on #682
Thanks so much for the quick fix!

[2022-09-12 20:30] #682 closed

[2022-09-13 16:50] asraa opened #686 "TUF: TUF pkg doesn't force update because of singletonTufOnce"
**Description**

Even if we force update, for e.g. using `Initialize` twice in a call when using sigstore as a TUF library (this is VERY rare, but may happen), we still won't execute that because of `singletonTufOnce`.

Sorry for few details, will be following up asap. Found this when I was testing.

**Version**

[2022-09-15 19:51] MarcosDY opened #695 "Sigstore as dependency"
**Question**

Hi there! I'm a maintainer on the SPIRE project, and have been reviewing a PR to add Sigstore validation support. One of the biggest challenges we have with the change is that we have to pull in three of your projects as a dependency in order to do the validation. The resulting go.sum change is well over 1k lines long.

We had a similar problem in SPIRE with regards to our users pull

[2022-09-17 18:09] wlynch commented on #594
This problem isn't unique to gitsign - verified this also affects cosign. 🙃

Opened a fix in https://github.com/sigstore/sigstore/pull/698 that I've verified works with gitsign.

IIUC this only affects users who are using the Google OIDC issuer directly, but this won't affect default clients using `oauth2.sigstore.dev` since Dex still supports the oob flow (until if/when Dex also decides to deprec

[2022-09-19 14:43] znewman01 commented on #695
You're not doing anything wrong; this is a limitation of the libraries as written currently. See discussion in https://github.com/sigstore/sigstore/issues/678

We hope to have a better story here soon.

[2022-09-19 14:43] #695 closed

[2022-09-19 14:44] znewman01 commented on #678
See https://github.com/sigstore/sigstore/issues/695 which runs into this issue.

[2022-09-19 21:48] znewman01 commented on #678
Here is a draft doc including many of my thoughts here: https://docs.google.com/document/d/1aZfk1TlzcuaO0uz76M9D26-gAvoZLn0oCAKvkbuhcPM/edit#

Feedback very welcome! I'll put it on the agenda for the community meeting tomorrow.

[2022-09-20 01:00] #594 closed

[2022-10-03 20:01] haydentherapper opened #725 "CIFuzz CI failure on merge"
**Description**

**Version**

https://github.com/sigstore/sigstore/actions/runs/3176930023/jobs/5176789186

[2022-10-05 20:20] haydentherapper commented on #725
seemed to be one-off

[2022-10-10 13:19] imjasonh opened #732 "Improve the "Sigstore Auth Successful" page"
Today, the post-OAuth page that gets displayed by tools like `cosign`, `gitsign` etc, is pretty ...sparse.

<img width="391" alt="Screen Shot 2022-10-10 at 8 55 26 AM" src="https://user-images.githubusercontent.com/210737/194871146-0b9e9e92-8a63-4f2e-bdf8-99ae549818b2.png">

That's not necessarily a bad thing. Being sparse also means it's not very resource intensive. It doesn't make any external r

[2022-10-12 01:42] naveensrinivasan opened #736 "Tuf TestValidKey failing"
**Description**

The `TestValidKey` is failing with email being `0` and issuer `""`. The email `"test@rekor.dev` should be replaced with `0` and issuer `https://accounts.google.com` being replaced with `""`.
https://github.com/sigstore/sigstore/blob/a9272f3e753d1d1fa374af7b5bba5263a5c06fbe/pkg/tuf/policy_test.go#L44-L65

Is this the expected behavior?

I was writing some fuzz tests for Tuf and ran

[2022-10-12 18:30] Havoc24k commented on #732
I would really like to be able to set my own HTML template that I could configure per installation and override the default one.

I think right now this is a constant set on `sigstore/pkg/oauth/interactive.go`, we could override that by loading either a static `.html` file or a `.tmpl` template file with a context object.

[2022-10-12 20:18] naveensrinivasan commented on #736
Sounds good.

[2022-10-12 20:18] #736 closed

[2022-10-13 13:25] imjasonh commented on #732
The HTML is defined in a const that's compiled into the client tool (e.g., `cosign`), and not configurable from the Fulcio installation for example.

I was _about_ to say that you could theoretically update this value at `cosign`-compile-time by abusing `ldflags`, but it looks like that's not actually possible either:

I tried this:
[code]

And the previous const still showed up.

Digging through

[2022-10-26 18:03] jku opened #779 "reusable-release workflow does not use key_ring and key_name inputs"
[reusable-release.yml](https://github.com/sigstore/sigstore/blob/main/.github/workflows/reusable-release.yml) defines a workflow with inputs `key_ring` and `key_name`. These inputs are not actually used in the workflow: the values are instead hardocded to "release-cosign" and "cosign" respectively. I think this only works since all users happen to use the same key?

[2022-10-26 18:27] haydentherapper commented on #779
Good catch!

[2022-10-28 23:11] znewman01 opened #784 "KMIP support (standardized KMS)"
Hi,

I would like to enquire if SigStore has any plans to facilitiate integrating technology partners to act as KMS service providers via the the KMIP standard.

I note Sigstore has integrations in custom way with KMS providers for key storage using proprietary vender specific integrations which are tightly coupled to Sigstore e.g. Azure Key Vault, Hashicorp Vault, AWS KMS, and GCP KMS. We would l

[2022-11-07 06:09] TommyLike opened #791 "[feature requirement] Add support for openPGP?"
**Description**

Will openPGP be supported in sigstore？including keys management and signing/verifyication?

[2022-11-07 07:55] lukehinds commented on #791
PGP is supported in rekor, as in you can store a digest, public key and signature there.

We don't have support for creating keys / sigs with PGP. What is the use case you're interested in and any reason why a more modern protocol like ecdsa might not fulfil your needs?

[2022-11-07 07:56] lukehinds commented on #784
honestly see no issue myself, if someone is available to take on the work

[2022-11-07 08:39] TommyLike commented on #791
In order to sign rpm packages within cosign and sigstore packages.

[2022-11-07 08:40] TommyLike commented on #791
@lukehinds is there anyway to achive this?

[2022-11-07 09:50] lukehinds commented on #791
@TommyLike

There is an RPM type in rekor: https://github.com/sigstore/rekor/tree/main/pkg/types

As far as signing rpm packages, this might be a little out of scope for us as its not just implementing GPG, you will need to work with RPM headers as well, which is where the signature is stored.

what you could do, is follow something like this: https://access.redhat.com/articles/3359321

You can th

[2022-11-07 09:51] lukehinds commented on #791
p.s. cosign is not likely a good tool to use, unless you want to store the RPMs into a container registry?

[2022-11-07 10:57] TommyLike commented on #791
@lukehinds ok, we could handle the rpm metadata and signing & verification ourself, what if sigstore library can provide a common ability to manage the openPGP keys?

[2022-11-07 11:03] lukehinds commented on #791
@TommyLike may I ask intended use case or the community where you want to implement this. We could maybe look at alternatives for you first. [PGP is a bit of flawed protocol](https://latacora.micro.blog/2019/07/16/the-pgp-problem.html) and might limit you if ever want to explore further key management approaches (such as fulcio based keyless signing)?

[2022-11-07 11:16] lukehinds commented on #791
technically we could, but I am just not convinced it's a good idea. we would only be able to cover key generation here, and not create a signer interface as it requires a specific approach for RPM.

I would recommend just using the protonmail library which has a nice key generation interface: https://github.com/ProtonMail/gopenpgp#generate-key - This is likely all we would do, but you will end up

[2022-11-07 11:34] TommyLike commented on #791
@lukehinds  Hmm, not only the key generation, since openPGP also support detached signature, it can be supported in sigstore? But also, I have a question that for most of the KMS plugins, it looks like the the openPGP is not on their support list?

[2022-11-07 12:50] lukehinds commented on #791
I am not against it per-say, if its implemented well with decent unit / integration testing. But overall for general signing, we have tried to steer folks away from PGP, as its [considered broken at best](https://latacora.micro.blog/2019/07/16/the-pgp-problem.html). I would say if you want detached sigs, use a more modern protocol (ecdsa etc).

[2022-11-08 00:48] TommyLike commented on #791
Thanks @haydentherapper @lukehinds I will look into this, the reason that we are requesting openPGP is it's official supported in RPM packages now: https://rpm-software-management.github.io/rpm/manual/signatures_digests.html

[2022-11-08 06:51] haydentherapper commented on #199
Closing as this will be a part of sigstore-go

[2022-11-08 06:51] #199 closed

[2022-11-08 06:51] #42 closed

[2022-11-08 06:52] haydentherapper commented on #81
Closing as this will be a part of sigstore-go

[2022-11-08 06:52] #81 closed

[2022-11-08 06:52] haydentherapper commented on #467
Closing as WAI

[2022-11-08 06:52] #467 closed

[2022-11-08 06:54] haydentherapper commented on #122
ed25519 is now supported throughout the sigstore ecosystem.

[2022-11-08 06:54] #122 closed

[2022-11-08 06:54] haydentherapper commented on #138
I believe this is now fixed, please reopen if not

[2022-11-08 06:54] #138 closed

[2022-11-08 06:55] haydentherapper commented on #182
Is this still an issue @naveensrinivasan ?

[2022-11-08 06:56] #193 closed

[2022-11-08 06:57] haydentherapper commented on #290
@asraa still an issue?

[2022-11-08 06:59] haydentherapper opened #792 "Should the checked-in TUF root be V1 or later?"
**Description**

See https://github.com/sigstore/sigstore/blob/main/pkg/tuf/repository/root.json#L142, the V2 TUF root. This root did not have a recorded and publicly documented signing ceremony. Should we switch to the V1 TUF root? It adds one extra network call to GCS when updating the root, but this seems negligible. I think that should be what we form the root of trust from.

@asraa

[2022-11-08 07:01] haydentherapper commented on #562
@asraa Should we remove all delegation code from the TUF Sigstore client until we add back delegations to the metadata?

[2022-11-08 15:14] asraa commented on #792
We had actually wanted to embed the latest trust root, not even V2.

I personally don't think it's necessary since it's still verifiable to load in the root from V1 if you wanted to trust it. But the problem is, earlier roots aren't even TUF compliant. V3 started using TUF compliant expires, so chaining from older roots may not make sense for every client, whereas distributing the latest trusted r

[2022-11-08 15:14] asraa commented on #792
i.e. our trust base is the cosign binary. If you don't trust the cosign binary, you're in a much worse situation.

[2022-11-08 15:18] asraa commented on #290
Yeah, it's not high priority, but it's a good cleanup.

[2022-11-08 20:23] haydentherapper commented on #792
That's a good point about the TUF compliance. Thanks!

[2022-11-08 20:23] #792 closed

[2022-11-15 17:26] wata727 opened #812 "Any plans to add a verification API for keyless signatures?"
**Question**

Any plans to add a verification API for keyless signatures?

First, let me share some background on this question. I'm a maintainer of a project called [TFLint](https://github.com/terraform-linters/tflint). Without going into details, the CLI has a plugin system and the ability to install any binary from GitHub releases as a plugin. At this time, a PGP signature is verified to preven

[2022-11-15 18:21] haydentherapper commented on #812
We've begun work on [sigstore-go](https://github.com/sigstore/sigstore-go), and we'll be moving the verification logic out of Cosign into this library.

[2022-11-16 01:53] wata727 commented on #812
Nice, in the future I will consider using sigstore-go. Thank you.

[2022-11-16 01:53] #812 closed